@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1763733325245') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caidanzhankai:before {
  content: "\e67f";
}

.icon-caidanshouqi:before {
  content: "\e680";
}

.icon-caidanzhankai1:before {
  content: "\e910";
}

