.page[data-v-aa3ffb3f]{padding:1.25rem;box-sizing:border-box;height:100%}.about[data-v-aa3ffb3f]{display:flex;flex-direction:column;align-items:center;justify-content:center}button[data-v-aa3ffb3f]{margin-top:1rem}
